/*////////////////////////////
===== component - banner =====
////////////////////////////*/

/*========= banner - 容器基礎設定 =========*/
.main-banner {
  // aspect-ratio: 1 / .56;
  // background-image: url(../image/bg/2011.i121.013_isometric\ pawn\ shop\ infographics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner img {
  object-fit: cover;
}

/*========= banner - text area =========*/
.main-banner-text-area {
  max-width: 768px;
  padding: 0 24px;
  text-align: center;
  
}

/*----- text area - 字體 -----*/
.main-banner-text {
  @include text-xs;
  color: $color-white;
  // text-decoration: underline;
}
.main-banner-title {
  @include text-2xl;
  color: $color-white;
}




